### Problem Statement

You are given a non-negative number in the form of list elements. For example, the number `123` would be provided as `arr = [1, 2, 3]`. Add one to the number and return the output in the form of a new list. 

**Example 1:**
* `input = [1, 2, 3]`
* `output = [1, 2, 4]`


**Example 2:**
* `input = [1, 2, 9]`
* `output = [1, 3, 0]`

**Example 3:**
* `input = [9, 9, 9]`
* `output = [1, 0, 0, 0]`


**Challenge:**
One way to solve this problem is to convert the input array into a number and then add one to it. For example, if we have `input = [1, 2, 3]`, you could solve this problem by creating the number `123` and then separating the digits of the output number `124`.

But can you solve it in some other way?

### Exercise - Write your function definition here. 
**Note** - Try proposing a non-recursive solution. We will see a recursive solution in the next lesson "Recursion".

- Techniques i want to learnt with arrays
- to go backward _for i in range(len(arr)-1.-1,-1)_

In [1]:
# Test case:
arr1 = [1,2,4]
arr2 = [1,4,9]
arr3 = [9,9,9]

In [2]:
def add_one(arr):
    carrier = 1

    for i in range(len(arr)-1, -1,-1):
        sum = carrier + arr[i]
        carrier = sum // 10
        arr[i] = sum % 10 

        if carrier == 0:
            break 
    arr = [carrier] + arr
    if arr[0] == 0:
        return arr[1:]
    else:
        return arr

In [3]:
add_one(arr1), add_one(arr2), add_one(arr3)

([1, 2, 5], [1, 5, 0], [1, 0, 0, 0])

On my own finding the max or min or the 2 largest etc...

In [1]:
arr = [1,5,7,3,6,8,3,5]

In [4]:
def max(arr):

    max = arr[0]
    for i in arr[1:]:
        if i > max:
            max = arr[i]

    return max

In [5]:
max(arr)

8

In [2]:
def top_2(arr):
    
    firstmax = arr[0]
    max_index = 0
    for i in range(1, len(arr)):
        if arr[i] > firstmax:
            firstmax = arr[i]
            max_index = i

    arr = arr[:max_index] + arr[max_index + 1: ]
    secondmax = arr[0]
    for i in range(1, len(arr)):
        if arr[i] > secondmax:
            secondmax = arr[i]

    return firstmax, secondmax

In [3]:
top_2(arr)

(8, 7)

### Problem Statement

You have been given an array of `length = n`. The array contains integers from `0` to `n - 2`. Each number in the array is present exactly once except for one number which is present twice. Find and return this duplicate number present in the array

**Example:**
* `arr = [0, 2, 3, 1, 4, 5, 3]`
* `output = 3` (because `3` is present twice)

The expected time complexity for this problem is `O(n)` and the expected space-complexity is `O(1)`.

In [4]:
def duplicate(arr):

    n = len(arr)
    original = 0
    expected = 0
    for i in arr:
        original += i

    for i in range(0,n-1):
        expected += i

    return original - expected

In [5]:
arr = [0, 2, 3, 1, 4, 5, 3]

In [6]:
duplicate(arr)

3

In [15]:
arr = [0,1,2,7,3,4,5,6,5]

In [16]:
duplicate(arr)

5

#### Note

- So i am learning that i need to figure out a way to solve the problem then implement.
-

### Subarray

lesson learnt

- The importance of using the index in array will help alot

In [5]:
arr = [1, 2, 3, 4, 5]
for i in range(len(arr)):
    for j in range(i + 1, len(arr) + 1):
        subarray = arr[i:j]
        if len(subarray) == 3:
            print(subarray)

[1, 2, 3]
[2, 3, 4]
[3, 4, 5]

##### Kadane's Algorithm

In [3]:
arr = [-3,5,6,2,5,-3,5,-1]
def max_subarray_sum(arr):
    max_sum = float('-inf')
    current_sum = 0
    for num in arr:
        current_sum = max(num, current_sum + num)
        max_sum = max(max_sum, current_sum)
    return max_sum

In [7]:
max_subarray_sum(arr)

20

In [4]:
def max_subarray_sum(arr):
    max_sum = float('-inf')
    current_sum = 0

    for num in arr:
        # Print current element and current subarray sum before updating
        print(f"Current Element: {num}, Current Sum Before Update: {current_sum}")

        current_sum = max(num, current_sum + num)
        max_sum = max(max_sum, current_sum)

        # Print current subarray sum and maximum subarray sum after updating
        print(f"Updated Current Sum: {current_sum}, Updated Max Sum: {max_sum}")
        print("-" * 20)  # Separator for better visibility

    return max_sum

# Example usage
#arr = [1, -2, 3, -4, 5, -6, 7]
result = max_subarray_sum(arr)
print(f"Final Maximum Subarray Sum: {result}")

Current Element: -3, Current Sum Before Update: 0
Updated Current Sum: -3, Updated Max Sum: -3
--------------------
Current Element: 5, Current Sum Before Update: -3
Updated Current Sum: 5, Updated Max Sum: 5
--------------------
Current Element: 6, Current Sum Before Update: 5
Updated Current Sum: 11, Updated Max Sum: 11
--------------------
Current Element: 2, Current Sum Before Update: 11
Updated Current Sum: 13, Updated Max Sum: 13
--------------------
Current Element: 5, Current Sum Before Update: 13
Updated Current Sum: 18, Updated Max Sum: 18
--------------------
Current Element: -3, Current Sum Before Update: 18
Updated Current Sum: 15, Updated Max Sum: 18
--------------------
Current Element: 5, Current Sum Before Update: 15
Updated Current Sum: 20, Updated Max Sum: 20
--------------------
Current Element: -1, Current Sum Before Update: 20
Updated Current Sum: 19, Updated Max Sum: 20
--------------------
Final Maximum Subarray Sum: 20

### Pascal's Triangle

lesson learnt

- how to use nested for loops

In [18]:
def nth_row_pascal(n):
    if n == 0:
        return [1]

    current_row = [1]

    for i in range(1, n + 1):
        previous_row = current_row
        current_row = [1]

        for j in range(1, i):
            next_number = previous_row[j] + previous_row[j - 1]
            current_row = current_row + [next_number]

        current_row = current_row + [1]

    return current_row

# Example usage:
n = 1
result = nth_row_pascal(n)
print(result)

[1, 1]

In [25]:
current = [1]

for i in range(1, 6):
    p = current
    print('p = ',p)
    current = [1] 
    print ('curr', current)

p =  [1]
curr [1]
p =  [1]
curr [1]
p =  [1]
curr [1]
p =  [1]
curr [1]
p =  [1]
curr [1]

### Patterns in python

In [43]:
def square(num):
    for row in range(0,num):
        print()
        for col in range(0,num):
            print('*', end = ' ')

square(3)

* * *
* * *
* * *

In [89]:
def right_tri(num):
    for row in range(0,num):
        print()
        for col in range(0, row + 1):
            print('*', end= ' ')

def inverted_tri(num):
    for row in range(num,0, -1):
        for col in range(1, row+1):
            print('*', end = ' ')
        print()
inverted_tri(5), right_tri(5)

* * * * *
* * * *
* * *
* *
*

*
* *
* * *
* * * *
* * * * *

(None, None)

In [106]:
def equ_tri(num):
    for row in range(1,num+1):
        for col in range(1, num - row +1):
            print(end = " ")
        for col in range(1, row + 1):
            print("*", end = " ")
        print()

equ_tri(5)

    *
   * *
  * * *
 * * * *
* * * * *

In [107]:
def inv_equ_tri(num):
    for row in range(num,0,-1):
        for col in range(1, num - row +1):
            print(end = " ")
        for col in range(1, row + 1):
            print("*", end = " ")
        print()

inv_equ_tri(5)

* * * * *
 * * * *
  * * *
   * *
    *

Building a pyramid

In [123]:
def pyramid():
    for row in range(1,7):
        for col in range(1,row+1):
            print(row,col , end = "")
    

pyramid()

1 12 12 23 13 23 34 14 24 34 45 15 25 35 45 56 16 26 36 46 56 6

In [9]:
odd = 1
for col in range(1,5): # how deep you want your structure to go 
    for row in range(1,odd + 1): # how wide you want your structure to expand by 
        print(row,col, end ="")
    print()
    odd += 2

1 1
1 22 23 2
1 32 33 34 35 3
1 42 43 44 45 46 47 4

Back to the pascal's triangle

In [20]:
def nth_row_pascal(n):
    if n == 0:
        return [1]

    current_row = [1]
    print(f"Initial current_row: {current_row}")

    for i in range(1, n + 1):
        previous_row = current_row
        current_row = [1]
        print(f"\nProcessing row {i}")
        print(f"Previous row: {previous_row}")

        for j in range(1, i):
            next_number = previous_row[j] + previous_row[j - 1]
            current_row.append(next_number)
            print(f"  Adding {next_number} to current_row: {current_row}")

        current_row.append(1)
        print(f"Finalizing row {i}, current_row: {current_row}")

    return current_row

# Example usage:
n = 5
result = nth_row_pascal(n)
print(f"\nResult for row {n}: {result}")

Initial current_row: [1]

Processing row 1
Previous row: [1]
Finalizing row 1, current_row: [1, 1]

Processing row 2
Previous row: [1, 1]
  Adding 2 to current_row: [1, 2]
Finalizing row 2, current_row: [1, 2, 1]

Processing row 3
Previous row: [1, 2, 1]
  Adding 3 to current_row: [1, 3]
  Adding 3 to current_row: [1, 3, 3]
Finalizing row 3, current_row: [1, 3, 3, 1]

Processing row 4
Previous row: [1, 3, 3, 1]
  Adding 4 to current_row: [1, 4]
  Adding 6 to current_row: [1, 4, 6]
  Adding 4 to current_row: [1, 4, 6, 4]
Finalizing row 4, current_row: [1, 4, 6, 4, 1]

Processing row 5
Previous row: [1, 4, 6, 4, 1]
  Adding 5 to current_row: [1, 5]
  Adding 10 to current_row: [1, 5, 10]
  Adding 10 to current_row: [1, 5, 10, 10]
  Adding 5 to current_row: [1, 5, 10, 10, 5]
Finalizing row 5, current_row: [1, 5, 10, 10, 5, 1]

Result for row 5: [1, 5, 10, 10, 5, 1]