In [1]:
expenses = [2200,2350,2600,2130,2190]

###########  Jan   Feb  Mar  Apr  May

###########  0     1    2    3    4

In Feb, how many dollars you spent extra compare to January?

In [2]:
expenses[1] - expenses[0]

150

Find out your total expense in first quarter (first three months) of the year.

In [3]:
expenses[0]+expenses[1]+expenses[2]

7150

Find out if you spent exactly 2000 dollars in any month

In [10]:
for i in expenses:
    if i == 2000:
        print(i)
    else:
        break

In [16]:
### Corection:
2000 in expenses

False

June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [12]:
expenses.append(1980)
expenses

[2200, 2350, 2600, 2130, 2190, 1980]

You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [13]:
expenses[3] = expenses[3] - 200
expenses

[2200, 2350, 2600, 1930, 2190, 1980]

# Solutions

In [14]:
exp = [2200,2350,2600,2130,2190]

# 1. In Feb, how many dollars you spent extra compare to January?
print("In feb this much extra was spent compared to jan:",exp[1]-exp[0]) # 150

# 2. Find out your total expense in first quarter (first three months) of the year
print("Expense for first quarter:",exp[0]+exp[1]+exp[2]) # 7150

# 3. Find out if you spent exactly 2000 dollars in any month
print("Did I spent 2000$ in any month? ", 2000 in exp) # False

# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
exp.append(1980)
print("Expenses at the end of June:",exp) # [2200, 2350, 2600, 2130, 2190, 1980]

# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
exp[3] = exp[3] - 200
print("Expenses after 200$ return in April:",exp) # [2200, 2350, 2600, 1930, 2190, 1980]

In feb this much extra was spent compared to jan: 150
Expense for first quarter: 7150
Did I spent 2000$ in any month?  False
Expenses at the end of June: [2200, 2350, 2600, 2130, 2190, 1980]
Expenses after 200$ return in April: [2200, 2350, 2600, 1930, 2190, 1980]

In [17]:
heros=['spider man','thor','hulk','iron man','captain america']

Length of the list

In [18]:
len(heros)

5

Add 'black panther' at the end of this list

In [24]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

You realize that you need to add 'black panther' after 'hulk',  so remove it from the list first and then add it after 'hulk'

In [25]:
heros.remove('black panther')
heros[3] = 'black panther'

heros

['spider man', 'thor', 'hulk', 'black panther', 'captain america']

In [44]:
# so this was going to change what index 3 was you shoulf have used:

hero.insert(3,'black panther')

Now you don't like thor and hulk because they get angry easily :)  So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool)   Do that with one line of code.

In [30]:
## I could create a new list but thats the easy way. Think boy

heros.remove('thor', 'hulk')
heros

TypeError: pop expected at most 1 argument, got 2

In [ ]:
# correct way
heros[1:3] = 'doctor strange'

Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [41]:
## I have no clue
heros.sort()

In [42]:
heros

## so using the function helps here

['black panther', 'captain america', 'hulk', 'spider man', 'thor']

# Solutions

In [43]:
hero=['spider man','thor','hulk','iron man','captain america']
# 1. Length of the list
print(len(hero))
# 2. Add 'black panther' at the end of this list
hero.append('black panther')
print(hero)
# 3. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'
hero.remove('black panther')
hero.insert(3,'black panther')
print(hero)
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
hero[1:3]=['doctor strange']
print(hero)
# 5. Sort the list in alphabetical order
hero.sort()
print(hero)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [47]:
max_number = int(input('Please imput max number: '))
odd_number = []

for i in range(0,max_number):
    if i%2 == 1:
        odd_number.append(i)

odd_number

Please imput max number:  10

[1, 3, 5, 7, 9]